{% extends "index.html" %}

{% block sign_script %}
<script>
function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function(){
        var output = document.getElementById('image-preview');
        output.innerHTML = '<img src="' + reader.result + '" width="200"/>'; // 미리보기 이미지의 크기를 조절하려면 width 값을 조정하세요.
    };
    reader.readAsDataURL(event.target.files[0]);
}

// Function to handle image upload
function uploadImage() {
    // Trigger click event on hidden input element
    $('#image-upload').click();
}

function sign_up() {
    let userId = $("#post-userid").val();
    let password = $("#post-password").val();
    let name = $("#post-name").val();
    let img = $("#image-preview img").attr('src'); // Get the uploaded image URL
    if (img == undefined) {
        img = ''
        alert("사진은 필수항목입니다")
    }

    // post 방식으로 아이디 패스워드 등록
    $.ajax({
        type: "POST",   // POST 방식으로 요청하겠다.
        url: "/api/sign",   // /api/sign라는 url에 요청하겠다.
        data: {give_name: name, give_img: img, give_userId: userId, give_password: password }, // 데이터를 주는 방법
        success : function (response) {    
            if (response["result"] == "success") {
                alert("회원가입 완료!");
                // 성공 시 로그인 페이지로 돌아가기
                window.location.href = "/"
            } else if (response["result"] == "itemMissing") {
                alert("미기입 항목을 입력해 주세요");
            } else if (response["result"] == "duplication") {
                alert("아이디 중복으로 인한 실패!");
            } else {
                alert("실패!");
            }
        }
    })
}

function back_to_login() {
    window.location.href = "/"
}
</script>
{% endblock %}

{% block sign_content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full mb-4">
            <h1 class="mb-8 text-3xl text-center">회원가입</h1>
            아이디
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="post-userid"
                id="post-userid"
                placeholder="ID" />
            이름
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="post-name"
                id="post-name" 
                placeholder="Full Name" />
            비밀번호
            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="post-password"
                id="post-password"
                placeholder="post-password" />
            <!-- Add an input element for image upload -->    
            사진
            <input 
                type="file"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                id="image-upload"
                accept="image/*"
                onchange="previewImage(event)" 
                class="hidden" />
            <!-- Change the button to trigger image upload -->    

            <!-- Display uploaded image -->
            <div id="image-preview"></div>
            <!--    
            비밀번호 확인
            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="confirm_password"
                placeholder="Confirm Password" />
            -->
        
        </div>
    
        <div
        class="bg-gray-50 text-center px-4 rounded w-80 flex flex-col items-center justify-center cursor-pointer border-2 border-gray-400 border-dashed mx-auto font-[sans-serif]">    
            <button
                class="w-full text-center py-3 rounded bg-green-500 hover:bg-green-dark focus:outline-none my-1"
                onclick="sign_up()">
                계정 생성
            </button>
        </div>

        <div
        class="bg-gray-50 text-center px-4 rounded w-80 flex flex-col items-center justify-center cursor-pointer border-2 border-gray-400 border-dashed mx-auto font-[sans-serif]">  
            이미 계정이 있으신가요? <br>
            <button 
                class="no-underline border-b border-blue text-blue" 
                onclick="back_to_login()">
                로그인 화면으로 돌아가기
            </button>
        </div>
    </div>

</div>
{% endblock %}
